<div class="order">   
    <div class="order-container">    
        <div class="description-container">
            <h3 class="title-text1">Хватит думать!</h3>
            <h3 class="title-text2">Доставим заказ за 30 минут!</h3>
            <p class="description-text">Мы гарантированно доставим вашу пиццу за 30 минут с момента оформления заказа. 
                Если мы опоздаем даже на 1 минуту - 
                вы получаете весь заказ бесплатно и 
                ваучер на скидку на следующий заказ.
                Мы гордимся нашим сервисом и сделаем всё, чтобы наш клиент был доволен и 
                не остался голодный!
            </p>
        </div>
        <div class="form-container-main"> 
            <form class="form-container" [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
                <div>
                    <input
                        id="name"
                        onkeyup="this.value = this.value.replace('.','')"
                        class="input-class"
                        type="text"
                        placeholder="Ваше имя"
                        formControlName="name"
                        (ngModelChange)="onChangeName()"
                    />
                    <label [style.display]="isVisibleName ? 'none' : 'block'" >Неверное имя!</label>
                </div>
                <div>
                    <input
                        id="address"
                        class="input-class"
                        type="text"
                        placeholder="Адрес доставки"
                        formControlName="address"
                        (ngModelChange)="onChangeAddress()"
                    />
                    <label [style.display]="isVisibleAddress ? 'none' : 'block'" >Неверный адрес!</label>
                </div>
                <div>
                    <input
                        id="phone"
                        class="input-class"
                        type="text"
                        placeholder="Телефон"
                        formControlName="phone"
                        (ngModelChange)="onChangePhone()"
                    />
                    <label [style.display]="isVisiblePhone ? 'none' : 'block'" >Неверный номер телефона!</label>
                </div>
                <button class="button" [disabled]="this.checkoutForm.invalid" type="submit">Оформить заказ</button>
            </form>
        </div>
        <div class="image-container">
            <img src="../../../assets/images/pizzzzza.png">
        </div>
    </div>
</div>