<div class="container">
    <div class="pizza-container">
        <div class="description-container">
            <div class="image-container">
                <img src={{data.img}}>
            </div>
            <div class="title-container">
                <h4>{{data.name}}</h4>
            </div>
            <div class="description-container">
                <p>{{data.description}}</p>
            </div>
        </div>
        <div class="button-container">
            <button>В корзину</button>
        </div>
    </div>
</div>
